from aoc_2024.util.get_input import get_input
import os


def main():
    if os.path.exists("aoc_2024/{{ '%02d'|format(day) }}_{{ puzzle_name }}/input.txt"):
        with open("aoc_2024/{{ '%02d'|format(day) }}_{{ puzzle_name }}/input.txt") as f:
            data = f.read()
    else:
        data = get_input({{ day }}, {{ year }})
        with open("aoc_2024/{{ '%02d'|format(day) }}_{{ puzzle_name }}/input.txt", "w") as f:
            f.write(data)
    print(data)


if __name__ == "__main__":
    main()
